# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
.Python

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints/

# VSCode settings (optional, if you use VSCode)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# UV-specific
uv.lock.lock
.uv/